// =========================
// COLORES
// =========================

$color-principal: #964d2a;
$color-fondo: #fdf8f1;
$color-secundario: #f7f7ee;

$color-texto: #3b3b3b;
$color-blanco: #ffffff;

$color-acento: #d7b08a;

// =========================
// TIPOGRAFÍAS
// =========================

$fuente-titulos: "Montserrat", sans-serif;
$fuente-texto: "Arimo", sans-serif;

// =========================
// ESPACIADOS
// =========================

$espaciado-xs: .5rem;
$espaciado-sm: 1rem;
$espaciado-md: 2rem;
$espaciado-lg: 4rem;
$espaciado-xl: 6rem;

// =========================
// BORDES
// =========================

$radio: 12px;

// =========================
// SOMBRAS
// =========================

$sombra: 0 6px 20px rgba(0,0,0,.08);